.all-bags {
  background-color: #f4f4f4;
  width: 95%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}

.isLoading {
  text-align: center;
  font-size: 2rem;
  padding-top: 5rem;
}

.error-text {
  color: red;
  font-size: 1.5rem;
  text-align: center;
  /* padding-top: 10rem; */
}
