.button {
  width: 10rem;
  height: 5rem;
  border: 0px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 2rem;
  margin-right: 10rem;
  margin-top: 1rem;
  box-sizing: border-box;
}
.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.items {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}
.amount {
  margin: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}
