* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --default-bg-color: #fff;
  --default-text-color: #000;
}
body {
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
}
