.button {
  padding: 1rem;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: pink;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 68%;
  transform: translateY(1.5rem);
  margin-bottom: 3rem;
}

.button:hover {
  background-color: rgb(51, 17, 23);
  color: #fff;
}
